PhysicaliaRemastered/Content/GameData/Schemas/schema_dataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PointF">
        <xs:attribute name="x" type="xs:float" />
        <xs:attribute name="y" type="xs:float" />
    </xs:complexType>
    <xs:complexType name="Point">
        <xs:attribute name="x" type="xs:int" />
        <xs:attribute name="y" type="xs:int" />
    </xs:complexType>
    <xs:complexType name="Rectangle">
        <xs:attribute name="x" type="xs:int" />
        <xs:attribute name="y" type="xs:int" />
        <xs:attribute name="width" type="xs:int" />
        <xs:attribute name="height" type="xs:int" />
    </xs:complexType>
    <xs:complexType name="ActorStartValues">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Position" type="PointF" />
            <xs:element minOccurs="0" maxOccurs="1" name="Velocity" type="PointF" />
            <xs:element minOccurs="0" maxOccurs="1" name="Acceleration" type="PointF" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ColorType">
        <xs:list itemType="xs:unsignedByte" />
    </xs:simpleType>
</xs:schema>